.navbar {
  display: flex;
  list-style: none;
  margin-left: 35pc;
  gap: 51px;
  font-size: larger;
  font-weight: bolder;
}
.navbar:hover a{
color: #002f34;
position: relative;
}
.navbar:hover li{
  color: orangered;
}
.navbarItems{
  width: 22px;
  height: 22px;
  color: orangered;
}